[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==22.6.0"
isort = "*"
jedi = "*"
pylint = "*"
python-dotenv = "*"
rope = "*"

[packages]
cython = ">0.27.2"
kivy = "*"
kivy-garden = "*"
packaging = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
requests-mock = "*"
kivy-deps-glew = {platform_system = "== 'Windows'",version = "*"}
kivy-deps-sdl2 = {platform_system = "== 'Windows'",version = "*"}

[requires]
python_version = "3.7"

[scripts]
debug = "python -m pytest --exitfirst --pdb"
lint = "python -m scripts.lint"
test = "python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=plateypus"
