[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

bandit = "*"
black = "==19.10b0"
isort = "*"
jedi = "*"
pylint = "*"
python-dotenv = "*"
rope = "*"


[packages]

cython = ">0.27.2"
kivy = "*"
kivy-garden = "*"
packaging = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
requests-mock = "*"


[requires]

python_version = "3.7"


[scripts]

debug = "python -m pytest --exitfirst --pdb"
lint = "python -m scripts.lint"
test = "python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=plateypus"


[packages.kivy-deps-glew]

version = "*"
platform_system = "== 'Windows'"


[packages.kivy-deps-sdl2]

version = "*"
platform_system = "== 'Windows'"
