[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "==19.3b0"
isort = "*"
jedi = "*"
pylint = "*"
python-dotenv = "*"
rope = "*"

[packages]
cython = ">0.27.2"
kivy = "*"
kivy-deps-glew = "*"
kivy-deps-sdl2 = "*"
kivy-garden = "*"
packaging = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
debug = "python -m pytest -x --pdb"
lint = "python -m scripts.lint"
test = "python -m pytest --cov-branch --cov-report term-missing:skip-covered --cov=plateypus"
